<a href="https://colab.research.google.com/github/Deb-bee/Deb-bee/blob/main/PANDAS_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:

import pandas as pd

# Create a sample DataFrame for homelessness data
data = {
    "state": ["California", "Texas", "Florida", "New York", "Illinois"],
    "individuals": [108000, 25000, 28000, 92000, 13000],
    "family_members": [20900, 5200, 6000, 17000, 2400],
    "total": [128900, 30200, 34000, 109000, 15400]
}

# Convert the dictionary to a DataFrame
homelessness = pd.DataFrame(data)

# Save the DataFrame to a CSV file
homelessness.to_csv("homelessness.csv", index=False)

print("CSV file 'homelessness.csv' has been created.")

CSV file 'homelessness.csv' has been created.

In [4]:
# Print the head of the homelessness data
print(homelessness.head())

        state  individuals  family_members   total
0  California       108000           20900  128900
1       Texas        25000            5200   30200
2     Florida        28000            6000   34000
3    New York        92000           17000  109000
4    Illinois        13000            2400   15400

In [6]:
# Print the head of the homelessness data
print(homelessness.head())

# Print information about homelessness
print(homelessness.info())

        state  individuals  family_members   total
0  California       108000           20900  128900
1       Texas        25000            5200   30200
2     Florida        28000            6000   34000
3    New York        92000           17000  109000
4    Illinois        13000            2400   15400
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   state           5 non-null      object
 1   individuals     5 non-null      int64
 2   family_members  5 non-null      int64
 3   total           5 non-null      int64
dtypes: int64(3), object(1)
memory usage: 292.0+ bytes
None

In [7]:
# Print the head of the homelessness data
print(homelessness.head())

# Print information about homelessness
print(homelessness.info())

# Print the shape of homelessness
print(homelessness.shape)

        state  individuals  family_members   total
0  California       108000           20900  128900
1       Texas        25000            5200   30200
2     Florida        28000            6000   34000
3    New York        92000           17000  109000
4    Illinois        13000            2400   15400
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   state           5 non-null      object
 1   individuals     5 non-null      int64
 2   family_members  5 non-null      int64
 3   total           5 non-null      int64
dtypes: int64(3), object(1)
memory usage: 292.0+ bytes
None
(5, 4)

In [8]:
# Print the head of the homelessness data
print(homelessness.head())

# Print information about homelessness
print(homelessness.info())

# Print the shape of homelessness
print(homelessness.shape)

# Print a description of homelessness
print(homelessness.describe())

        state  individuals  family_members   total
0  California       108000           20900  128900
1       Texas        25000            5200   30200
2     Florida        28000            6000   34000
3    New York        92000           17000  109000
4    Illinois        13000            2400   15400
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   state           5 non-null      object
 1   individuals     5 non-null      int64
 2   family_members  5 non-null      int64
 3   total           5 non-null      int64
dtypes: int64(3), object(1)
memory usage: 292.0+ bytes
None
(5, 4)
         individuals  family_members          total
count       5.000000        5.000000       5.000000
mean    53200.000000    10300.000000   63500.000000
std     43459.176246     8126.499862   51575.575615
min     13000.000000     2400.000000   15400.000000
25%     25000.000000     5200.000000   30200.000000
50%     28000.000000     6000.000000   34000.000000
75%     92000.000000    17000.000000  109000.000000
max    108000.000000    20900.000000  128900.000000

In [9]:
# Import pandas using the alias pd
import pandas as pd

# Print the values of homelessness
print(homelessness.values)

# Print the column index of homelessness
print(homelessness.columns)

# Print the row index of homelessness
print(homelessness.index)

[['California' 108000 20900 128900]
 ['Texas' 25000 5200 30200]
 ['Florida' 28000 6000 34000]
 ['New York' 92000 17000 109000]
 ['Illinois' 13000 2400 15400]]
Index(['state', 'individuals', 'family_members', 'total'], dtype='object')
RangeIndex(start=0, stop=5, step=1)