<a href="https://colab.research.google.com/github/Deb-bee/Deb-bee/blob/main/PIVOT_TABLES.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

# Example data to simulate the temperatures DataFrame
data = {
    "date": ["2020-01-01", "2020-02-01", "2021-01-01", "2021-02-01"],
    "country": ["USA", "USA", "Canada", "Canada"],
    "city": ["New York", "Los Angeles", "Toronto", "Vancouver"],
    "avg_temp_c": [5.3, 15.2, -5.0, 3.1]
}

# Create the DataFrame
temperatures = pd.DataFrame(data)

# Convert the 'date' column to datetime
temperatures["date"] = pd.to_datetime(temperatures["date"])

# Add a 'year' column to the DataFrame
temperatures["year"] = temperatures["date"].dt.year

# Pivot avg_temp_c by country and city vs year
temp_by_country_city_vs_year = temperatures.pivot_table(
    values="avg_temp_c",  # The column to aggregate
    index=["country", "city"],  # Rows: country and city
    columns="year",  # Columns: year
    aggfunc="mean"  # Aggregation function: mean
)

# See the result
print(temp_by_country_city_vs_year)

year                 2020  2021
country city
Canada  Toronto       NaN  -5.0
        Vancouver     NaN   3.1
USA     Los Angeles  15.2   NaN
        New York      5.3   NaN

In [3]:
# Subset for Egypt to India
temp_by_country_city_vs_year.loc["Egypt" : "India"]

# Subset for Egypt, Cairo to India, Delhi
temp_by_country_city_vs_year.loc[("Egypt","Cairo") : ("India","Delhi")]

# Subset for Egypt, Cairo to India, Delhi, and 2005 to 2010
temp_by_country_city_vs_year.loc[
    ("Egypt", "Cairo"):("India", "Delhi"), 2005:2010
]

Empty DataFrame
Columns: []
Index: []

In [4]:
# Get the worldwide mean temp by year
mean_temp_by_year = temp_by_country_city_vs_year.mean(axis="index")

# Filter for the year that had the highest mean temp
print(mean_temp_by_year[mean_temp_by_year == mean_temp_by_year.max()])

# Get the mean temp by city
mean_temp_by_city = temp_by_country_city_vs_year.mean(axis="columns")


# Filter for the city that had the lowest mean temp
print(mean_temp_by_city[mean_temp_by_city == mean_temp_by_city.min()])

year
2020    10.25
dtype: float64
country  city
Canada   Toronto   -5.0
dtype: float64