<a href="https://colab.research.google.com/github/Deb-bee/Deb-bee/blob/main/PROJECT_EXPLORING_NYC_PUBLIC_SCHOOL_TEST_RESULT_SCORES.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
import pandas as pd
import numpy as np


data = {
    "school_name": [f"School {i}" for i in range(1, 31)],  # School names: School 1 to School 30
    "borough": np.random.choice(["Manhattan", "Brooklyn", "Queens", "Bronx", "Staten Island"], 30),  # Random boroughs
    "average_math": np.random.randint(500, 800, 30),  # Random math scores between 500 and 800
    "average_reading": np.random.randint(500, 800, 30),  # Random reading scores between 500 and 800
    "average_writing": np.random.randint(500, 800, 30),  # Random writing scores between 500 and 800
    "student_count": np.random.randint(200, 1000, 30),  # Random student counts between 200 and 1000
    "funding_per_student": np.random.randint(8000, 15000, 30)  # Random funding per student between 8000 and 15000
}

# Convert the dictionary to a DataFrame
schools = pd.DataFrame(data)

# Display the DataFrame
print(schools)

   school_name        borough  average_math  average_reading  average_writing  \
0     School 1      Manhattan           697              508              532
1     School 2       Brooklyn           739              732              675
2     School 3          Bronx           643              598              521
3     School 4          Bronx           596              646              737
4     School 5       Brooklyn           700              707              657
5     School 6         Queens           623              630              537
6     School 7      Manhattan           686              651              729
7     School 8  Staten Island           758              553              550
8     School 9      Manhattan           647              619              763
9    School 10      Manhattan           751              660              782
10   School 11         Queens           646              615              526
11   School 12      Manhattan           647              574              725
12   School 13       Brooklyn           698              612              776
13   School 14       Brooklyn           627              603              785
14   School 15          Bronx           538              753              596
15   School 16  Staten Island           628              726              783
16   School 17      Manhattan           766              611              646
17   School 18      Manhattan           650              598              503
18   School 19         Queens           797              652              534
19   School 20       Brooklyn           598              693              691
20   School 21  Staten Island           762              662              548
21   School 22          Bronx           751              707              516
22   School 23       Brooklyn           643              668              671
23   School 24          Bronx           611              660              719
24   School 25         Queens           559              567              657
25   School 26         Queens           501              788              545
26   School 27      Manhattan           753              776              505
27   School 28  Staten Island           639              634              598
28   School 29          Bronx           536              694              732
29   School 30       Brooklyn           659              627              536

    student_count  funding_per_student
0             479                12057
1             548                 8784
2             696                11175
3             501                12341
4             380                13596
5             806                13801
6             298                10806
7             899                 8537
8             315                13986
9             390                 9841
10            452                13016
11            360                10455
12            455                 8524
13            522                14971
14            327                13625
15            217                10950
16            992                12131
17            934                12780
18            765                12115
19            769                10368
20            522                11847
21            885                14655
22            991                12495
23            825                10701
24            487                 8971
25            862                14002
26            838                14614
27            354                 9166
28            689                13211
29            585                12929

In [12]:
import pandas as pd

# Read in the data
schools = pd.DataFrame(data)
threshold = 800 * 0.80  # 640

# Filter schools with math scores >= 640
best_math_schools = schools[schools['average_math'] >= threshold]

# Select only the "school_name" and "average_math" columns
best_math_schools = best_math_schools[['school_name', 'average_math']]

# Sort by "average_math" in descending order
best_math_schools = best_math_schools.sort_values(by='average_math', ascending=False)

print(best_math_schools)

   school_name  average_math
10   School 11           773
0     School 1           770
14   School 15           764
17   School 18           763
25   School 26           759
5     School 6           743
13   School 14           741
27   School 28           717
19   School 20           705
26   School 27           690
1     School 2           689
2     School 3           674
9    School 10           666
29   School 30           661

In [13]:
# Re-run this cell
import pandas as pd

# Read in the data
schools = pd.DataFrame(data)

# Preview the data
print(schools.head())



# Step 1: Add a new column "total_SAT" to the original DataFrame
schools["total_SAT"] = schools["average_math"] + schools["average_reading"] + schools["average_writing"]

# Step 2: Create a new DataFrame "top_10_schools" with "school_name" and "total_SAT"
top_10_schools = schools[["school_name", "total_SAT"]]

# Step 3: Sort by "total_SAT" in descending order
top_10_schools = top_10_schools.sort_values(by="total_SAT", ascending=False)

# Step 4: Display the resulting DataFrame
print(top_10_schools)

  school_name        borough  average_math  average_reading  average_writing  \
0    School 1          Bronx           770              701              527
1    School 2  Staten Island           689              769              634
2    School 3         Queens           674              770              700
3    School 4  Staten Island           550              714              767
4    School 5  Staten Island           554              751              532

   student_count  funding_per_student
0            933                13592
1            684                11302
2            606                10237
3            430                13504
4            948                13496
   school_name  total_SAT
13   School 14       2218
27   School 28       2217
26   School 27       2208
2     School 3       2144
1     School 2       2092
11   School 12       2080
7     School 8       2061
14   School 15       2051
3     School 4       2031
8     School 9       2019
16   School 17       2003
9    School 10       2000
0     School 1       1998
10   School 11       1996
20   School 21       1990
6     School 7       1986
25   School 26       1983
5     School 6       1979
19   School 20       1967
21   School 22       1890
24   School 25       1863
4     School 5       1837
28   School 29       1824
18   School 19       1815
29   School 30       1796
17   School 18       1781
12   School 13       1763
23   School 24       1732
15   School 16       1722
22   School 23       1577

In [14]:
top_10_schools = top_10_schools.head(10)
print(top_10_schools)

   school_name  total_SAT
13   School 14       2218
27   School 28       2217
26   School 27       2208
2     School 3       2144
1     School 2       2092
11   School 12       2080
7     School 8       2061
14   School 15       2051
3     School 4       2031
8     School 9       2019

In [17]:
# Re-run this cell
import pandas as pd

# Read in the data
schools = pd.DataFrame(data)
# Preview the data
print(schools.head())



# Step 1: Add a new column "total_SAT" to the original DataFrame
schools["total_SAT"] = schools["average_math"] + schools["average_reading"] + schools["average_writing"]

# Step 2: Group by "borough" and calculate count, mean, and standard deviation of "total_SAT"
borough_stats = schools.groupby("borough").agg(
    num_schools=("school_name", "count"),  # Count of schools
    average_SAT=("total_SAT", "mean"),    # Mean of total_SAT
    std_SAT=("total_SAT", "std")          # Standard deviation of total_SAT
).round(2)  # Round all numeric values to 2 decimal places

# Step 3: Find the borough with the largest standard deviation
largest_std_dev = borough_stats[borough_stats["std_SAT"] == borough_stats["std_SAT"].max()]

# Step 4: Reset the index to make "borough" a column
largest_std_dev = largest_std_dev.reset_index()

# Step 5: Rename columns to match the required output
largest_std_dev = largest_std_dev.rename(columns={
    "borough": "borough",
    "num_schools": "num_schools",
    "average_SAT": "average_SAT",
    "std_SAT": "std_SAT"
})

# Step 6: Display the resulting DataFrame
print(largest_std_dev)

  school_name        borough  average_math  average_reading  average_writing  \
0    School 1          Bronx           770              701              527
1    School 2  Staten Island           689              769              634
2    School 3         Queens           674              770              700
3    School 4  Staten Island           550              714              767
4    School 5  Staten Island           554              751              532

   student_count  funding_per_student
0            933                13592
1            684                11302
2            606                10237
3            430                13504
4            948                13496
    borough  num_schools  average_SAT  std_SAT
0  Brooklyn            5       2025.2   205.71