<a href="https://colab.research.google.com/github/Deb-bee/Deb-bee/blob/main/SLICING_INDEX.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

# Example data to define temperatures_ind
data = {
    "Country": ["Pakistan", "Pakistan", "Russia", "Russia"],
    "City": ["Lahore", "Karachi", "Moscow", "Saint Petersburg"],
    "Temperature": [30, 32, -5, -10]
}

# Create a DataFrame
temperatures_df = pd.DataFrame(data)

# Set a multi-level index (Country, City)
temperatures_ind = temperatures_df.set_index(["Country", "City"])

# Sort the index
temperatures_srt = temperatures_ind.sort_index()

# Subset rows from Pakistan to Russia
print(temperatures_srt.loc["Pakistan":"Russia"])

# Subset rows from Pakistan, Lahore to Russia, Moscow
print(temperatures_srt.loc[("Pakistan", "Lahore"):("Russia", "Moscow")])

                           Temperature
Country  City
Pakistan Karachi                    32
         Lahore                     30
Russia   Moscow                     -5
         Saint Petersburg          -10
                 Temperature
Country  City
Pakistan Lahore           30
Russia   Moscow           -5

In [3]:
# Subset rows from India, Hyderabad to Iraq, Baghdad
print(temperatures_srt.loc[("India", "Hyderabad"):("Iraq", "Baghdad")])

# Subset columns from date to avg_temp_c
print(temperatures_srt.loc[:,"date":"avg_temp_c"])

# Subset in both directions at once
print(temperatures_srt.loc[("India", "Hyderabad"):("Iraq", "Baghdad"), "date":"avg_temp_c"])

Empty DataFrame
Columns: [Temperature]
Index: []
Empty DataFrame
Columns: []
Index: [(Pakistan, Karachi), (Pakistan, Lahore), (Russia, Moscow), (Russia, Saint Petersburg)]
Empty DataFrame
Columns: []
Index: []

In [5]:
import pandas as pd

# Define the temperatures DataFrame
data = {
    "City": ["New York", "Los Angeles", "Chicago", "Houston", "Phoenix"],
    "Temperature": [30, 25, 20, 35, 40],
    "Humidity": [50, 60, 55, 65, 70],
    "Wind Speed": [10, 12, 8, 15, 20],
    "Precipitation": [0, 0.1, 0.2, 0, 0.3]
}

temperatures = pd.DataFrame(data)

# Get 23rd row, 2nd column (index 22, 1)
# Check if the DataFrame has at least 23 rows before accessing index 22
if len(temperatures) > 22:
    print(temperatures.iloc[22, 1])
else:
    print("The DataFrame does not have 23 rows. Cannot access index 22.")

# Use slicing to get the first 5 rows
print("\nFirst 5 rows:")
print(temperatures.iloc[:5])

# Use slicing to get columns 3 to 4 (index positions 2 to 3)
print("\nColumns 3 to 4 (Humidity and Wind Speed):")
print(temperatures.iloc[:, 2:4])

# Use slicing in both directions at once (first 5 rows and columns 3 to 4)
print("\nFirst 5 rows and columns 3 to 4:")
print(temperatures.iloc[:5, 2:4])

The DataFrame does not have 23 rows. Cannot access index 22.

First 5 rows:
          City  Temperature  Humidity  Wind Speed  Precipitation
0     New York           30        50          10            0.0
1  Los Angeles           25        60          12            0.1
2      Chicago           20        55           8            0.2
3      Houston           35        65          15            0.0
4      Phoenix           40        70          20            0.3

Columns 3 to 4 (Humidity and Wind Speed):
   Humidity  Wind Speed
0        50          10
1        60          12
2        55           8
3        65          15
4        70          20

First 5 rows and columns 3 to 4:
   Humidity  Wind Speed
0        50          10
1        60          12
2        55           8
3        65          15
4        70          20